.plats {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.plats img {
    width: 100px;
    height: auto;
}

.plats h4 {
    display: inline;
}

.invalid-feedback {
    color: red;
}

body{
    background-image: url("/images/fonddepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    width: 95%;
    padding-right: 3%;
    animation: slider 20s infinite;
}

.slider {
    display: flex;
    width:50%;
    border: 1px solid;
    height: 500px;
    overflow: hidden;
}

@keyframes slider{
    0%,
    20% {
        transform: translateX(0);
    }
    30%,
    35% {
        transform: translateX(-600px);
    }
    60%,
    65% {
        transform: translateX(-1100px);
    }
    100% {
        transform: translateX(0px);
    }
}

section,.actus{
    background-color: rgba(155, 154, 154, 0.35);
    border: rgb(0, 0, 0) 2px solid;
    display: block;
    padding-left: 20px;
    width: 50%;
}

nav{
    background-color: rgb(155, 154, 154);
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    border: rgb(0, 0, 0) 2px solid;
}

hr:first-of-type{
    visibility: hidden;
}

ul {
    padding: 0px;
}

h1{
    color: white;
    text-align: center;
}

header{
    position: fixed;
    left: 38%;
    z-index: 40;
    font-size: larger;
}

h2{
    text-decoration: underline;
}

.reservation{
    padding-top: 5px;
    padding-bottom: 5px;
}

hr{
    border-color: rgb(0, 0, 0,0.5);
    padding: 0px;
}

.flex{
    display: flex;
}

.debut{
    padding-top: 50px;
}