.plats {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.plats img {
    width: 100px;
    height: auto;
}

.plats h4 {
    display: inline;
}

.invalid-feedback {
    color: red;
}

body{
    background-image: url("/images/fonddepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    padding-right: 3%;
    animation: slider 20s infinite;
}

.slider {
    margin-left: 14%;
    display: flex;
    width:70%;
    border: 1px solid;
    height: 500px;
    overflow: hidden;

}

@keyframes slider{
    0%,
    20% {
        transform: translateX(0);
    }
    30%,
    35% {
        transform: translateX(-700px);
    }
    60%,
    65% {
        transform: translateX(-1400px);
    }
    100% {
        transform: translateX(0px);
    }
}

section,.actus{
    background-color: rgb(158, 156, 156, 0.35);
    border: rgb(0, 0, 0) 2px solid;
    display: block;
    padding: 5px;
}

nav{
    background-color: rgba(158, 156, 156, 0.35);
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
    border: rgb(0, 0, 0) 2px solid;
}

hr:first-of-type{
    visibility: hidden;
}

hr{
    border-color: black;
}